
@font-face {font-family: "Muiicons";
    font-weight: normal;
    font-style: normal;
        src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    }

.mui-icon
{
    font-family: Muiicons;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-winxin:before { content: "\e628"; }

.icon-shop:before { content: "\e620"; }

.icon-daifahuo:before { content: "\e639"; }

.icon-daifukuan:before { content: "\e611"; }

.icon-weibo:before { content: "\e626"; }

.icon-daifahuo1:before { content: "\e607"; }

.icon-iconfontyonghu:before { content: "\e617"; }

.icon-password:before { content: "\e66b"; }

.icon-order:before { content: "\e656"; }

.icon-tuijian:before { content: "\e71a"; }

.icon-qq:before { content: "\e6fe"; }

.icon-tag28fuben:before { content: "\e672"; }

.icon-yiwancheng:before { content: "\e6a6"; }

.icon-shangcheng:before { content: "\e601"; }

.icon-shangdian:before { content: "\e633"; }

.icon-caidanA:before { content: "\e600"; }

.icon-wode:before { content: "\e602"; }

.icon-kefu:before { content: "\e612"; }

.icon-shangxintongzhi:before { content: "\e60c"; }

.icon-dizhi:before { content: "\e603"; }

.icon-saomiao:before { content: "\e621"; }

.icon-gouwuche:before { content: "\e609"; }

.icon-tuijianxuanzhong:before { content: "\e60e"; }

.icon-youhuizhekou:before { content: "\e62f"; }

.icon-dianpu:before { content: "\e700"; }

.icon-daifukuan1:before { content: "\e61e"; }

.icon-daifukuan2:before { content: "\e637"; }

.icon-yuding:before { content: "\e697"; }

.icon-yiwancheng1:before { content: "\e604"; }

.icon-sousuo:before { content: "\e651"; }

.icon-daifahuo3:before { content: "\e650"; }

.icon-daishouhuo:before { content: "\e62b"; }

.icon-daifahuo2:before { content: "\e6e4"; }

.icon-shouye:before { content: "\e66f"; }

.icon-shoucang1:before { content: "\e605"; }

